div.error_messages{
    font-size: 20px; 
    text-align: center; 
    margin-top: 10px
}

.error{
    color: rgb(188, 82, 82);
}

.success{
    color:  rgb(57, 165, 57);
}

.none{
    visibility: hidden;
}

@media (max-width: 600px) {
    div.error_messages{
        font-size: 13px;
    }
}
