div.main_window{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

h1.main_title{
    font-size: 65px;
    color: #1DA1F2;
    text-align: center;
}

div.message_read_info{
    margin-top: 20px;
    display: flex;
}

div.message_read_info span{
    font-size: 25px;
}

div.message_read_info i{
    color: white;
}

p{
    font-size: 30px;
    text-align: justify;
    margin: 5px;
    color: white;
    word-wrap: break-word;
    white-space: wrap;
    text-overflow: ellipsis;
}

.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.username{
    background-color: #14171A;
    border: 3px solid;
    border-color: #1DA1F2;
    color: #1DA1F2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 50px;
}

.above_message{
    width: 25%;
}

.for_note{
    width: 100%;
    height: 375px;
}

button.new_mess{
    cursor: pointer;
    background-color: #1DA1F2;
    border: 3px solid;
    border-color: #1DA1F2;
    color: #14171A;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.above_message2{
    width: 33.3%;
}

button.new_mess:hover{
    cursor: pointer;
    background: #14171A;
    color: #1DA1F2;
}

div.username textarea{
    border: 0;
    resize: none;
    width: 100%;
    height: 250px;
    border-color: #1DA1F2;
    background-color: #14171A;
    font-size: 25px;
    color: #1DA1F2;
    font-size: 30px;
    text-align: justify;
    margin: 5px;
    color: white;
    word-wrap: break-word;
    white-space: wrap;
    text-overflow: ellipsis;
}

.right{
    margin-left: auto;
}

input.font_size{
    font-size: 25px;
    width: 90%;
}

select.font_size{
    font-size: 25px;
    width: 90%;
}


@media screen and (max-width: 1440px){
    input.text{

        border: 2px solid;
        width: 250px;

        border-radius: 13px;

        font-size: 30px;

      }
    div.add_input span{
        font-size: 20px;
        margin: 5px;


    }

    select.languages {

      border: 2px solid;

      border-radius: 10px;

      font-size: 18px;

      text-align: center;

    }

    input.text{
        font-size: 20px;

      }

    input.button_add_user{
        font-size: 25px;
        margin-top: 50px;

      }

}

@media screen and (max-width: 1300px){

    h1.main_title{
        font-size: 45px;
    }

    div.message_read_info{
        display: block;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .above_message2{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .above_message{
        width: 80%;
    }
    
    input.text{
        width: 300px;
        font-size: 22px;
      }


    div.add_input span{
        font-size: 20px;
        margin: 5px;
    }

    div.add_input{
        margin-top: 25px;
    }

    select.languages {

      border: 2px solid;
      border-radius: 10px;
      font-size: 22px;
      width: 300px;
      text-align: center;

    }

      input.button_add_user{
        font-size: 25px;
        margin-top: 50px;
      }
}

@media screen and (max-width: 1050px){
    
    input.text{
        width: 250px;
        border-radius: 15px;
        font-size: 20px;
      }

    input.button_add_user{
        font-size: 23px;
        margin-top: 50px;
      }
      

    div.add_input span{
        font-size: 20px;
        margin: 5px;

    }
    select.languages {
        width: 250px;
        font-size: 20px;
      }

    h1.main_title{
        font-size: 50px;
        padding-top: 30px; 
    }

    button.new_mess{
        font-size: 30px;
        padding: 5px 25px;
    }
    
}

@media screen and (max-width: 800px){
    
    div.add_input span{
        font-size: 15px;
        margin: 5px;
    }

    select.languages {
        border: 2px solid;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }


    input.button_add_user{
        font-size: 23px;
        margin-top: 25px;

      }

    div.username{
        margin-left: auto;
        margin-right: auto;
    }

    h1.main_title{
        margin-top: 10px;
        font-size: 35px;
        padding-top: 15px; 
    }

}

@media screen and (max-width: 750px){
    input.text{
        width: 150px;
        font-size: 15px;
      }

      select.languages {
        width: 150px;
        font-size: 15px;
      }

    div.add_input span{
        font-size: 12px;
        margin: 5px;
    }

    h1.main_title{
        font-size: 25px;
    }

}

@media screen and (max-width: 550px){
    h1.main_title{
        font-size: 20px;
    }
    input.button_add_user{
        font-size: 12px;
    }

    input.text{
        width: 120px;
        font-size: 10px;
      }

      select.languages {
        width: 120px;
        font-size: 10px;
      }

    div.add_input span{
        font-size: 10px;
        margin: 5px;
    }

    div.add_input{
        margin-top: 20px;
    }

    button.new_mess{
        font-size: 20px;
        padding: 5px 15px;
    }

}

@media screen and (max-width: 450px){
    h1.main_title{
        font-size: 18px;
    }
    input.button_add_user{
        font-size: 10px;
    }

    input.text{
        width: 100px;
        font-size: 9px;
      }

      select.languages {
        width: 100px;
        font-size: 9px;
      }

    div.add_input span{
        font-size: 10px;
        margin: 5px;
    }

    div.add_input{
        margin: 0;
        margin-top: 20px;
    }

    button.new_mess{
        font-size: 20px;
        padding: 5px 15px;
    }

}