::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 20px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 151, 151); 
  }