div.message_head{
    top: 0;
    width: 90%;
    height: 17%;
}

button.log_out{
    cursor: pointer;
    background-color: #a11616;
    border: 3px solid;
    border-color: #a11616;
    color: #14171A;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

button.log_out:hover{
    background-color: #14171A;
    border-color: #a11616;
    color: #a11616;
}


div.username{
    background-color: #14171A;
    border: 3px solid;
    border-color: #1DA1F2;
    color: #1DA1F2;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 50px;
}

div.buttons_head{
    margin-left: auto;
}


button.new_mess{
    cursor: pointer;
    background-color: #1DA1F2;
    border: 3px solid;
    border-color: #1DA1F2;
    color: #14171A;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

button.new_mess:hover{
    cursor: pointer;
    background: #14171A;
    color: #1DA1F2;
}

div.message_button{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 40%;    
}

div.for_stars{
    margin-top: auto; 
    margin-bottom: auto;  
    margin-left: 100px; 
    display: flex;
}

div.message_filters{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;

}

div.message_filters h2{
    font-size: 35px;
    color: #1DA1F2;
    margin-top: 20px;
}

div.message_filters_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    
}

div.message_filters_item label{
    color: #364b58;
}    

div.message_filters_item span{
    color: #1DA1F2;
    margin: 5px;
}

div.for_filtration{
    display: flex; 
    height: 100%; 
    margin-left: 10%; 
    margin-right: 10%;
}

div.message_list{
    width: 90%;
    height: 50%;
    background-color: #14171A;
    border-radius: 20px;
    padding: 5px;
    border: 5px solid;
    border-color: #1DA1F2;
    text-align: -webkit-center;
    justify-content: center;
    margin: 0 auto;

}

div.message_list table{
    width: 100%; 
    margin-top: 5px;
    text-align: center;
}

div.message_list_head th{
    font-size: 20px;
    color: #1DA1F2;
}

div.message_list_head{
    width: 95%;
}

div.message_list_items{
    width: 100%; 
    overflow-y: scroll; 
    height: 90%;
    text-align: center;
    justify-content: center;
}

div.message_list_info{
    cursor: pointer;
    width: 95%; 
    text-align: center;
    background-color: #1DA1F2;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: #1DA1F2;
    color: #14171A;
    transition-duration: 0.4s;
}

div.message_list_info:hover{
    cursor: pointer;
    width: 95%; 
    text-align: center;
    background-color: #14171A;
    color: #1DA1F2;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: #1DA1F2;
}

div.message_list_info span{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 20px;
}

div.programming_div{
    margin-top: 20px; 
    margin-bottom: auto; 
    margin-left: 100px; 
    display: flex;
}

@media (max-width: 1300px) {
    div.message_filters_item{
        font-size: 20px;
    }
  }


@media (max-width: 1100px) {
    div.message_filters_item{
        font-size: 18px;
    }

    div.username{
        font-size: 40px;
    }

    button.log_out{
        font-size: 35px;
        padding: 5px 25px;
    }

    button.new_mess{
        font-size: 35px;
        padding: 5px 25px;
    }
    
  }

  @media (max-width: 990px) {
    div.message_filters_item{
        font-size: 13px;
    }
  }

@media (max-width: 850px) {
    div.message_filters_item{
        justify-content: left;
        text-align: left;
        font-size: 30px;
        margin-top: 20px;
    }
    
    div.for_filtration{
        display: inline-block;
    }

    div.programming_div{
        margin-left: 0;
    }

    div.for_stars{
        margin-left: 0;
    }

    div.username{
        font-size: 30px;
    }

    button.log_out{
        font-size: 30px;
        padding: 5px 20px;
    }

    button.new_mess{
        font-size: 30px;
        padding: 5px 20px;
    }

  }

  @media (max-width: 780px) {
    div.message_filters_item{
        font-size: 25px;
    }

    div.message_list_head th{
        font-size: 17px;
    }

    div.username{
        font-size: 30px;
    }

    button.log_out{
        font-size: 30px;
        padding: 5px 20px;
    }

    button.new_mess{
        font-size: 30px;
        padding: 5px 20px;
    }
  }

  @media (max-width: 700px) {
    div.message_filters_item{
        font-size: 22px;
    }

    div.message_list_head th{
        font-size: 16px;
    }

    div.username{
        font-size: 25px;
    }

    button.log_out{
        font-size: 22px;
        padding: 5px 18px;
    }

    button.new_mess{
        font-size: 22px;
        padding: 5px 18px;
    }

    div.message_list_info span{
        font-size: 14px;
    }

  }


  @media (max-width: 600px) {
    div.message_filters_item{
        font-size: 20px;
    }

    div.message_list_head th{
        font-size: 14px;
    }

    div.username{
        font-size: 20px;
    }

    button.log_out{
        font-size: 20px;
        padding: 5px 10px;
    }

    button.new_mess{
        font-size: 20px;
        padding: 5px 10px;
    }

    div.message_list_info span{
        font-size: 10px;
    }

  }

  @media (max-width: 600px) {
    div.message_list_head th{
        font-size: 10px;
    }

    div.message_list_info span{
        font-size: 10px;
    }

  }

  @media (max-width: 500px) {
    div.message_filters_item{
        font-size: 15px;
    }

    div.username{
        font-size: 14px;
    }

    button.log_out{
        margin-left: 2px;
        margin-right: 2px;
        font-size: 15px;
        padding: 5px 10px;
    }

    button.new_mess{
        margin-left: 2px;
        margin-right: 2px;
        font-size: 15px;
        padding: 5px 10px;
    }

    div.message_list_info span{
        font-size: 10px;
    }
  }



  @media (max-width: 420px) {
    div.message_filters_item{
        font-size: 13px;
    }

    div.message_list_head th{
        font-size: 8px;
    }
    div.username{
        font-size: 12px;
    }

    button.log_out{
        font-size: 13px;
        padding: 5px 8px;
    }

    button.new_mess{
        font-size: 13px;
        padding: 5px 8px;
    }
  }

  @media (max-height: 950px){
    div.message_filters h2{
        font-size: 30px;
    }
    div.message_head{
        height: 15%;
    }
  }

  @media (max-height: 900px){
    div.message_filters h2{
        font-size: 20px;
    }

    
    div.message_head{
        height: 14%;
    }
  }

  @media (max-height: 750px){
    div.message_head{
        height: 14%;
    }
    
    div.message_list{
        height: 40%;
    }
  }


  @media (max-height: 550px){
    div.message_filters h2{
        font-size: 17px;
    }

    div.message_head{
        height: 40%;
    }

    div.message_list{
        height: 80%;
    }

    div.username{
        font-size: 35px;
    }

    button.log_out{
        font-size: 30px;
        padding: 5px 20px;
    }

    button.new_mess{
        font-size: 30px;
        padding: 5px 20px;
    }
    
  }


  
  

