* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

html{
    height: 97%;
    overflow-y: auto;
}

body{
    background-color: #14171A;
    height: 100%;
    
}

section.user{
    height: 100%;
    width: 30%;
    float: left;

}

section.messages{
    height: 100%;
    width: 100%;
}

section.messages2{
    height: 100%;
    width: 70%;
    float: right;
}
