* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    background-color: #14171A;
    height: 100%;
    
}

section.user{
    height: 100%;
    width: 30%;
    float: left;

}

section.messages{
    height: 100%;
    width: 100%;
}

section.messages2{
    height: 100%;
    width: 70%;
    float: right;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.25),
       screen and (min--moz-device-pixel-ratio: 1.25),
       screen and (-o-min-device-pixel-ratio: 5/4),
       screen and (min-device-pixel-ratio: 1.25),
       screen and (min-resolution: 120dpi) {
    /* Přizpůsobení pro obrazovky s 125% zvětšením */
    body {
        zoom: 0.75;
    }
}



