input.date {
    background-color: #14171A;
    color: #1DA1F2;
    border: 2px solid;
    border-color: #1DA1F2;
    border-radius: 5px;
    color-scheme: dark;
    cursor: pointer;

  }

input.checkbox {  
    accent-color: #1DA1F2;
    color-scheme: dark;
    cursor: pointer;

  }

input.interval {  
    background-color: #14171A;
    color: #1DA1F2;
    border: 2px solid;
    border-color: #1DA1F2;
    border-radius: 5px;
    color-scheme: dark;
    cursor: pointer;

  }

select.languages {
  background-color: #14171A;
  color: #1DA1F2;
  border: 2px solid;
  border-color: #1DA1F2;
  border-radius: 5px;
  color-scheme: dark;
  cursor: pointer;
}

input.text{
  background-color: #14171A;
  color: #1DA1F2;
  border: 2px solid;
  border-color: #1DA1F2;
  border-radius: 5px;
  color-scheme: dark;
  cursor: pointer;
}

input.button_add_user{
  cursor: pointer;
  background-color: #1DA1F2;
  border: 3px solid;
  border-color: #1DA1F2;
  color: #14171A;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

input.button_add_user:hover{
  cursor: pointer;
  background: #14171A;
  color: #1DA1F2;
}