
div.labels{
    margin-top: 10px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.labels span{
    color: black; 
    font-size: 10px; 
    padding: 5px; 
    border-radius: 5px; 
    width: 50px; 
    text-align: center;
}

