div.main_window{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

/* Z message_read */
div.message_read_info{
    margin-top: 20px;
    display: flex;
}

.right{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.above_message{
    width: 50%;
}

.above_message2{
    width: 33.3%;
}


/* Až po sem :) */


/* Z input */
input.date {
    background-color: #14171A;
    color: #1DA1F2;
    border: 2px solid;
    border-color: #1DA1F2;
    border-radius: 15px;
    font-size: 30px;
    color-scheme: dark;
    cursor: pointer;
    text-align: center;
  }

  input.interval {  
    background-color: #14171A;
    color: #1DA1F2;
    border: 2px solid;
    border-color: #1DA1F2;
    border-radius: 15px;
    color-scheme: dark;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
  }

select.languages {
  background-color: #14171A;
  color: #1DA1F2;
  border: 2px solid;
  border-color: #1DA1F2;
  border-radius: 15px;
  color-scheme: dark;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

input.text{
    background-color: #14171A;
    color: #1DA1F2;
    border: 2px solid;
    border-color: #1DA1F2;
    border-radius: 15px;
    color-scheme: dark;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
  }

  input.button_add_user{
    cursor: pointer;
    background-color: #1DA1F2;
    border: 3px solid;
    border-color: #1DA1F2;
    color: #14171A;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 5px;
    transition-duration: 0.4s;
  }



/* Až po sem :) */

/* Ze stars */
.rating label {
    color: lightgray;
    display: inline-block;
    font-size: 35px;
    margin: 0 -2px;
    transition: transform .15s ease;
  }

/* Až po sem :) */

h1.main_title{
    font-size: 60px;
    color: #1DA1F2;
    padding-top: 30px;
    text-align: center;
    transition-duration: 0.4s;
}

h2.main_title{
    margin-top: 20px;
    font-size: 40px;
    color: #1DA1F2;
    padding-top: 50px;
    text-align: center;
    transition-duration: 0.4s;
}

div.add_input{
    text-align: center;
    margin-top: 35px;

}

div.add_input span{
    font-size: 30px;
    margin: 20px;
    color: #1DA1F2;
}


.input_size{
    font-size: 25px;
}

div.add_input textarea{
    resize: none;
    width: 100%;
    height: 250px;
    border: 5px solid;
    border-color: #1DA1F2;
    background-color: #14171A;
    border-radius: 15px;
    font-size: 25px;
    color: #1DA1F2;
}

.space{
    margin-top: 15px;
}

input.font_size{
    font-size: 25px;
    width: 90%;
}

select.font_size{
    font-size: 25px;
    width: 90%;
}

input[type=file] {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    max-width: 100%;
    color: #1DA1F2;
    padding: 5px;
    background: #14171A;
    border-radius: 15px;
    border: 2px solid #1DA1F2;
    font-size: 20px;
    transition-duration: 0.4s;
  }

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #1DA1F2;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #1DA1F2;
    color: #14171A;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #14171A;
    color: #1DA1F2;
  }

@media (max-width: 1200px) {
  h1.main_title{
    font-size: 55px;
  }
  h2.main_title{
    font-size: 38px;
  }
  input.button_add_user{
    font-size: 23px;
  }
  input[type=file] {
    font-size: 18px;
  }
}
@media (max-width: 1075px) {
  h1.main_title{
    font-size: 50px;
  }
  h2.main_title{
    font-size: 36px;
  }
  input.button_add_user{
    font-size: 21px;
  }
  input[type=file] {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  h1.main_title{
    font-size: 45px;
  }
  h2.main_title{
    font-size: 34px;
  }
  input.button_add_user{
    font-size: 19px;
  }
  input[type=file] {
    font-size: 14px;
  }
}
@media (max-width: 925px) {
  h1.main_title{
    font-size: 42px;
  }
  h2.main_title{
    font-size: 32px;
  }
  input.button_add_user{
    font-size: 17px;
  }
  input[type=file] {
    font-size: 12px;
    min-width: 30%;
  }
}
@media (max-width: 875px) {
  h1.main_title{
    font-size: 39px;
  }
  h2.main_title{
    font-size: 30px;
  }
  input.button_add_user{
    font-size: 15px;
  }
  input[type=file] {
    font-size: 10px;
  }
}
@media (max-width: 815px) {
  h1.main_title{
    font-size: 35px;
  }
  h2.main_title{
    font-size: 29px;
  }
  input.button_add_user{
    font-size: 14px;
  }
  input[type=file] {
    font-size: 9px;
    min-width: 32%;
  }
}
@media (max-width: 715px) {
  h1.main_title{
    font-size: 32px;
  }
  input[type=file] {
    min-width: 35%;
  }
}
@media (max-width: 650px) {
  h1.main_title{
    font-size: 27px;
  }
  input[type=file] {
    min-width: 40%;
  }
}
@media (max-width: 550px) {
  h1.main_title{
    font-size: 23px;
  }
  input[type=file] {
    min-width: 48%;
  }
  div.error{
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  h1.main_title{
    font-size: 20px;
  }
  input[type=file] {
    min-width: 55%;
  }
}
@media (max-width: 400px) {
  h1.main_title{
    font-size: 17px;
  }
  h2.main_title{
    font-size: 22px;
  }
  input.button_add_user{
    font-size: 12px;
  }
  input[type=file] {
    font-size: 9px;
    min-width: 62%;
  }
  div.error{
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  h1.main_title{
    font-size: 14px;
  }
  input[type=file] {
    font-size: 7.5px;
    min-width: 70%;
  }
}