<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_input_types.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_label.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_add.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_error.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/HitNote.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/ScriptForButtons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Delete.js') }}"></script>
    <title>Uprav zprávu</title>
</head>
<body>
    <section class="messages">
        <div class="main_window">
            <form method="POST">
                <div class="message_read_info">
                    <button class="new_mess" type="button" onclick=window.location.href='{{ url_for("views.home") }}';>&#8592</button>
                    <div class="right">
                        <div class="add_input">
                            <span>Uprav datum</span> 
                            <br>
                            <input class="date space" type="date" id="AddDate1"  name="AddDate1" value="{{original_message.date}}">
                        </div>
                    </div>
                </div>
                <h1 class="main_title">
                    Upravit zprávu
                </h1>
                <div class="message_read_info">
                    <div class="above_message">
                        <div class="add_input">
                            <span>Programovací jazyk</span> 
                            <br>
                            <input class="text space" type="text" id="AddLanguage1" value="{{original_message.language}}" name="AddLanguage1">
                        </div>
                    </div>

                    <div class="above_message">
                        <div class="add_input">
                            <span>Strávený čas v minutách</span> 
                            <br>
                            <input class="interval space" type="number" id="AddInterval1" value="{{original_message.interval}}"  name="AddInterval1" min="0" max="1440">
                        </div>
                    </div>

                    <div class="above_message">
                        <div class="add_input">
                            <span>Hodnocení</span>
                            <br>
                            <div class="rating space">
                                {%if original_message.stars == 5 %}
                                <input id="AddRadio1" type="radio" name="AddStar1" value="5" class="star" checked/>
                                {%else%}
                                <input id="AddRadio1" type="radio" name="AddStar1" value="5" class="star"/>
                                {%endif%}
                                <label for="AddRadio1">&#9733;</label>
                                {%if original_message.stars == 4%}
                                <input id="AddRadio2" type="radio" name="AddStar1" value="4" class="star" checked/>
                                {%else%}
                                <input id="AddRadio2" type="radio" name="AddStar1" value="4" class="star"/>
                                {%endif%}
                                <label for="AddRadio2">&#9733;</label>
                                {%if original_message.stars == 3%}
                                <input id="AddRadio3" type="radio" name="AddStar1" value="3" class="star" checked/>
                                {%else%}
                                <input id="AddRadio3" type="radio" name="AddStar1" value="3" class="star"/>
                                {%endif%}
                                <label for="AddRadio3">&#9733;</label>
                                {%if original_message.stars == 2%}
                                <input id="AddRadio4" type="radio" name="AddStar1" value="2" class="star" checked/>
                                {%else%}
                                <input id="AddRadio4" type="radio" name="AddStar1" value="2" class="star"/>
                                {%endif%}
                                <label for="AddRadio4">&#9733;</label>
                                {%if original_message.stars == 1%}
                                <input id="AddRadio5" type="radio" name="AddStar1" value="1" class="star" checked/>
                                {%else%}
                                <input id="AddRadio5" type="radio" name="AddStar1" value="1" class="star"/>
                                {%endif%}
                                <label for="AddRadio5">&#9733;</label>
                            </div>
                        </div>
                    </div>
                    <div class="above_message">
                        <div class="add_input">
                            <span>Programátor</span> 
                            <br>
                            <select class="languages space" name="AddProgrammer1" id="AddProgrammer1">
                                <option value={{original_programmer.id}}>{{original_programmer.jmeno}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="add_input">
                    <textarea id="AddText1" name="AddText1" maxlength="300" placeholder="Zadejte popisek...">{{original_message.data}}</textarea>
                </div>
                <div class="error_messages">
                    <span class="{{trida}}">{{ message }}</span>
                </div>
                <div class="add_input"  style="margin-top: 0;">
                    <input type="submit" class="button_add_user" style="margin-top: 30px;" value="Uložit zprávu"/>
                </div>
            </form>
        </div>
    </section>
</body>
</html>