<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_input_types.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_label.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_add.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_read.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/programmer_add.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Popup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/ScriptForButtons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Delete.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/HitNote.png') }}">
    <title>Uprav programátora</title>
</head>
<body>
    <section class="user">
        <div class="main_title">
            <button class="new_mess" type="button"  onclick=window.location.href='{{ url_for("views.home") }}';>&#8592</button>
            <br>
            <button class="button_add_user modern_button" onclick=window.location.href='{{ url_for("programmer.add") }}';>Přidej uživatele</button>
            <br>
            <button class="button_add_user modern_button" onclick=window.location.href='{{ url_for("import_export.page")}}';>Import/Export</button>
        </div>
        <div class="user_list">
            <div class="user_head">
                <table>
                    <th style="width: 40%;">Jméno</th>
                    <th style="width: 30%;">Role</th>
                    <th style="width: 30%;">Operace</th>
                </table>
            </div>
            <div class="user_items">
                {% if current_user.id == user_id %}
                <div class="user_info_forever" onclick=window.location.href='{{ url_for("programmer.edit", cislo = current_user.id ) }}';>
                {% else %}
                <div class="user_info" onclick=window.location.href='{{ url_for("programmer.edit", cislo = current_user.id ) }}';>
                {% endif %}
                    <span style="width: 40%;">{{current_user.jmeno}}</span>
                    <span style="width: 30%;">{{current_user.role}}</span>
                    <span style="width: 30%;">
                        <div class="popup" id="popup-delete{{current_user.id}}">
                            <div class="overlay" onclick="stopPropagation(event);togglePopup()"></div>
                            <div class="content" onclick="stopPropagation(event)">
                                <p style="color: #14171A;" onclick="stopPropagation(event)">Smazat uživatele?</p>
                                <button class="delete2" type="button" onclick='stopPropagation(event); deleteProgrammer("{{current_user.id}}");'>Smazat</button>
                                <button class="close" type="button" onclick="stopPropagation(event);togglePopup('{{current_user.id}}')">Zpět</button>
                            </div>
                        </div>
                        <button class="button edit" type="button" onclick=stopPropagation(event);window.location.href='{{ url_for("programmer.edit", cislo = current_user.id ) }}';>Edit</button>
                    </span>
                    </span>
                </div>
                {% for programmer in programmers %}
                {% if programmer.id != current_user.id %}
                    {% if programmer.id == user_id %}
                        <div class="user_info_forever" onclick=window.location.href='{{ url_for("programmer.edit", cislo = programmer.id ) }}';>
                    {% else %}
                        <div class="user_info" onclick=window.location.href='{{ url_for("programmer.edit", cislo = programmer.id ) }}';>
                    {% endif %}
                        <span style="width: 40%;">{{programmer.jmeno}}</span>
                        <span style="width: 30%;">{{programmer.role}}</span>
                        <span style="width: 30%;">
                            <div class="popup" id="popup-delete{{programmer.id}}">
                                <div class="overlay" onclick="stopPropagation(event);togglePopup()"></div>
                                <div class="content" onclick="stopPropagation(event)">
                                    <p style="color: #14171A;" onclick="stopPropagation(event)">Smazat uživatele?</p>
                                    <button class="delete2" type="button" onclick='stopPropagation(event); deleteProgrammer("{{programmer.id}}");'>Smazat</button>
                                    <button class="close" type="button" onclick="stopPropagation(event);togglePopup('{{programmer.id}}')">Zpět</button>
                                </div>
                            </div>
                            <button class="button delete" type="button" onclick="stopPropagation(event);togglePopup('{{programmer.id}}')">&#10006;</button>
                            <button class="button edit" type="button" onclick=stopPropagation(event);window.location.href='{{ url_for("programmer.edit", cislo = programmer.id ) }}';>Edit</button>
                        </span>
                        </span>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="messages2">
        <div class="main_window">
            <h1 class="main_title">{{original_programmer.jmeno}}</h1>
            <form method="POST">
                <div class="message_read_info">
                    <div class="above_message2">
                        <div class="add_input">
                            <span>Jméno a Přijmení</span> 
                            <br>
                            <input class="text space font_size" type="text" id="AddNewProgrammer1" name="AddNewProgrammer1" placeholder="{{original_programmer.jmeno}}">
                        </div>
                    </div>
                    <div class="above_message2">
                        <div class="add_input font_size">
                            <span>Uživatelské jméno</span> 
                            <br>
                            <input class="text space font_size" type="text" id="AddNewProgrammerUsername1" name="AddNewProgrammerUsername1" placeholder="{{original_programmer.username}}">
                        </div>
                    </div>
                    <div class="above_message2">
                        <div class="add_input">
                            <span>E-mail</span> 
                            <br>
                            <input class="text space font_size" type="email" id="AddNewProgrammerEmail1" name="AddNewProgrammerEmail1" placeholder="{{original_programmer.email}}">
                        </div>
                    </div>
                </div>
                <div class="message_read_info">
                    <div class="above_message2">
                        <div class="add_input">
                            <span>Nové heslo</span> 
                            <br>
                            <input class="text space font_size" placeholder="•••••••••••" type="password" id="AddNewProgrammerPass1" name="AddNewProgrammerPass1">
                        </div>
                    </div>
                    <div class="above_message2">
                        <div class="add_input font_size">
                            <span>Potvrzení hesla</span> 
                            <br>
                            <input class="text space font_size" placeholder="•••••••••••" type="password" id="AddNewProgrammerPass2" name="AddNewProgrammerPass2">
                        </div>
                    </div>
                    <div class="above_message2">
                        <div class="add_input">
                            <span>Role</span> 
                            <br>
                            <select class="languages space font_size" name="AddNewProgrammerRole1" id="AddNewProgrammerRole1">
                                {% if admin_counter == 1 and original_programmer.role == "Administrátor" %}
                                <option value="Administrátor">Administrátor</option>
                                {% else %}
                                    {% if original_programmer.role == "Administrátor" %}
                                    <option value="Administrátor">Administrátor</option>
                                    <option value="Uživatel">Uživatel</option>
                                    {% else %}
                                    <option value="Uživatel">Uživatel</option>
                                    <option value="Administrátor">Administrátor</option>
                                    {% endif %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="error_messages">
                    <span class="{{trida}}">{{ message }}</span>
                </div>
                <div class="add_input"  style="margin-top: 0;">
                    <input type="submit" class="button_add_user" style="margin-top: 30px;" value="Uložit změny"/>
                </div>
            </form>
        </div>
    </section>
</body>
</html>