<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_input_types.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_label.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_add.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_import_export.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/HitNote.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/ScriptForButtons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Delete.js') }}"></script>
    <title>Uprav zprávu</title>
</head>
<body>
    <section class="messages">
        <div class="main_window">
            <div class="message_read_info">
                {% if programmer.role == "Administrátor" %}
                <button class="new_mess" type="button" onclick=window.location.href='{{ url_for("programmer.edit", cislo=programmer.id) }}';>&#8592</button>
                {% else %}
                <button class="new_mess" type="button" onclick=window.location.href='{{ url_for("views.home") }}';>&#8592</button>
                {% endif %}
                <div class="right">
                    <h1 class="main_title">
                        {{programmer.jmeno}}
                    </h1>
                </div>
            </div>
            <form method="POST">
                <h2 class="main_title">
                    Importovat zprávy
                </h2>
                <div class="message_read_info">
                    <input type="file" accept=".csv">
                </div>
                <div class="add_input">
                    <input type="submit" class="button_add_user" value="Importovat zprávy"/>
                </div>

                <h2 class="main_title">
                    Exportovat zprávy
                </h2>
                <div class="add_input">
                    <input type="submit" class="button_add_user" value="Exportovat zprávy"/>
                </div>
            </form>
        </div>
    </section>
</body>
</html>