<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_input_types.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_stars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_label.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_add.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message_read.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/HitNote.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/ScriptForButtons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Delete.js') }}"></script>
    <title>Zpráva</title>
</head>
<body> 
    <section class="messages">
        <div class="main_window">
            <div class="message_read_info">
                <button class="new_mess" type="button" onclick=window.location.href='{{ url_for("views.home") }}';>&#8592</button>
                <div class="right">
                    <div class="username">
                        {{(original_message.date.day)}}. {{(original_message.date.month)}}. {{(original_message.date.year)}}
                    </div>
                </div>
            </div>
            <h1 class="main_title">
                Zpráva
            </h1>
            <div class="message_read_info">
                <div class="username above_message nowrap">
                    <span>{{original_message.language}}</span>
                </div>

                <div class="username above_message nowrap">
                    <span>{{original_message.interval}} min.</span>
                </div>

                <div class="username above_message nowrap">
                    <span>{% for star in range(original_message.stars)%}&#9733;{% endfor %}{% for star in range(5-original_message.stars)%}<label style="color: white;">&#9733;</label>{% endfor %}</span>
                </div>

                <div class="username above_message nowrap">
                    <span>{{original_programmer.jmeno}}</span>
                </div>
            </div>
            <div class="message_read_info">
                <div class="username for_note">
                    <textarea id="AddText1" name="AddText1" maxlength="300" placeholder="Zadejte popisek..." disabled>{{original_message.data}}</textarea>
                </div>
            </div>
        </div>
    </section>
</body>
</html>